
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Выбор квартир</div></li>
        </div>
    </div>

</div>


<div class="layouts">
    <div class="container">
        <div class="layouts__inner">
            <h1 class="title">Выбор квартир</h1>

            <div class="layouts__grid">
            
                <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/1.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>


                <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>


                 <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>

                <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/1.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>
                 <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>
                 <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>
                 <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>
                 <a href="#" class="layouts__item">
                    <div class="layouts__img-wrap">
                        <img src="{% static 'images/2.svg' %}" alt="" class="layouts__img">
                    </div>
                    <p class="layouts__title">1 комнатная квартира, 93,7м</p>
                    <p class="layouts__price">от 7 850 000</p>

                    <div class="layouts__bottom">
                        <div class="layouts__col">
                            <p class="layouts__home">Дом 1</p>
                        </div>
                        <div class="layouts__col">
                            <p class="layouts__sub">Передача ключей</p>
                            <p class="layouts__date">до 31 марта 2023</p>
                        </div>
                    
                    </div>



                </a>
            
            
            </div>
        
        
        </div>
    </div>
</div>




{% endblock %}