.banks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
    gap: 40px 20px;
    // .banks__item

    &__item {
        width: 250px;
        height: 100px;
    }

    // .banks__logo

    &__logo {
        height: 100%;
        width: 100%;
        text-align: center;

        object-fit: contain;
    }
}
