.callback {
    padding: 80px 0;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 425px) {
        padding: 40px 15px;
    }
    // .callback__inner

    &__inner {
        background-color: $gray;
        padding: 80px 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    // .callback__title

    &__title {
        font-size: 28px;
        line-height: 34px;
        
        margin-bottom: 16px;
    }

    // .callback__sub

    &__sub {
        margin-bottom: 40px;
    }

    // .callback__wrap

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 425px) {
            flex-direction: column;
        }
        a + a {
            margin-left: 20px;
            @media screen and (max-width: 425px) {
                margin-left: 0;
                margin-top: 20px;
            }
        }
        
    }
}
