.footer {
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
    background-color: $light-blue;
    color: #fff;
    // .footer__inner

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .footer__col

    &__col {
        width: 25%;
    }
    // .footer__ob

    &__ob {
        width: fit-content;
        margin: 0 auto;
    }
    // .footer__link

    &__link {
        color: #fff;
        display: block;
    }

    // .footer__wrap

    &__wrap {
        display: flex;
        justify-content: flex-end;
    }

    // .footer__social

    &__social {
        color: #fff;
    }
    &__social + &__social {
        margin-left: 20px;
    }
}
