.header {
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    top: 100px;
    border-bottom: 1px solid #e1e1e1;


    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 80%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        .toggle-menu {
            display: none;
        }

        &--active {
            left: 0;
        }
    }

    &--fixed {
        // position: fixed;

        
    }
    // .header__top

    &__top {
        display: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-color: $blue;
        font-size: 16px;
        padding: 10px 0;
        @media screen and (max-width: 768px) {
            display: none;
        }

    }

    // .header__wrap

    &__wrap {
    }

    // .header__text

    &__text {
    }

    // .header__bottom

    &__bottom {
        width: 100%;
        margin: 0 auto; 
        padding: 10px 0;
        position: relative;
        background-color: #fff;
        height: 75px;
        display: flex;
        align-items: center;
        position: relative;
        
        color: #fff;
        line-height: 1;
        @media screen and (max-width: 768px) {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }

    }

    // .header__bottom-bg

    &__bottom-bg {
        position: absolute;
        width: 100%;
        height: 101%;
        object-fit: cover;
        top: 0;
        left: 0;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    // .header__inner

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }
    }


    


    // .header__logo

    &__logo {
        display: inline-block;
        position: relative;
        color: #fff;
        
    }
    // .header__logo-back

    &__logo-back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    // .header__logo-wrap

    &__logo-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    // .header__logo-title

    &__logo-title {
        font-family: "Cormorant SC", serif;
        text-transform: uppercase;
        font-size: 28px;
    }

    // .header__logo-subtitle

    &__logo-subtitle {
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 0;
    }

    // .header__nav

    &__nav {
        @media screen and (max-width: 768px) {
            // display: none;
            a {
                color: $font-dark;
            }
        }
    }

    // .header__list

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    // .header__item

    &__item {
        display: inline-block;
    }
    &__item + &__item {
        margin-left: 40px;
        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    // .header__link

    &__link {
        color: #fff;
        font-size: 16px;
        position: relative;
        &::after {

            content: "";
            position: absolute;
            bottom: -27px;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 3px;
            background-color: $primary;
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
            @media screen and (max-width: 768px) {
                bottom: -5px;
            }
        }
        &:hover {

            &::after {
                opacity: 1;
            }
        }

        &--active {
            &::after {
                opacity: 1;
            }
        }


    }

    // .header__contacts

    &__contacts {
        @media screen and (max-width: 768px) {
            display: flex;
            a {
                color: $font-dark;
            }
        }
    }

    // .header__contacts-link

    &__contacts-link {
        color: #fff;
        font-weight: 500;
        margin-right: 20px;
        
    }

    // .header__social

    &__social {
        color: #fff;
        &:hover {
            color: $primary;
        }
    }
    &__social + &__social {
        margin-left: 15px;
    }

      // .header__drop

    &__drop {
        z-index: 99;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        background-color: #fff;
        box-shadow: 4px 4px 16px -1px rgba(34, 60, 80, 0.13);     

        padding: 66px;
        width: 100%;
        max-width: 1000px;
        justify-content: space-around;
        border: 1px solid #e1e1e1;
        display: none;

        &--active {
            display: flex;
        }
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            box-shadow: none;
            border: none;
            padding: 20px 0;

            display: none;
        }


    }

    // .header__drop-column

    &__drop-column {

    }

    // .header__drop-title

    &__drop-title {
        font-size: 16px;
        line-height: 18px;
        color: #9c9a9a;
        padding-bottom: 18px;
        border-bottom: 1px solid #e1e1e1;
        @media screen and (max-width: 768px) {
            display: none;
        }

    }

    // .header__drop-list

    &__drop-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 32px;

    }

    // .header__drop-item

    &__drop-item {

    }
    &__drop-item + &__drop-item {
        margin-top: 15px;
    }

    // .header__drop-link

    &__drop-link {
        color: #14191a;
        text-decoration: none;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;

        &:hover {
            text-decoration: underline;
        }
 
    }
    // .header__mobile

    &__mobile {
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 99;
        padding: 15px 0;
        background: url('/static/images/footer-bg.svg');
        display: none;
        a {
            color: #fff;
        }

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    // .header__mobile-inner

    &__mobile-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // .header__mobile-logo

    &__mobile-logo {
        display: inline-block;
        color: #fff;
    }

    // .header__mobile-logo-wrap

    &__mobile-logo-wrap {
        text-align: center;
        line-height: 1;
    }

    // .header__mobile-title

    &__mobile-title {
        font-size: 24px;
        text-transform: uppercase;
        font-family: "Cormorant SC", serif;
    }

    // .header__mobile-subtitle

    &__mobile-subtitle {
        margin: 0;
        font-size: 10px;
    }
    }

    
