.header {
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #e1e1e1;


    @media screen and (max-width: 425px) {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 80%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        .toggle-menu {
            display: none;
        }

        &--active {
            left: 0;
        }
    }

    &--fixed {
        position: fixed;

        .header__top {
            display: none;
        }
    }
    // .header__top

    &__top {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-color: $blue;
        font-size: 16px;
        padding: 10px 0;
        @media screen and (max-width: 425px) {
            display: none;
        }

    }

    // .header__wrap

    &__wrap {
    }

    // .header__text

    &__text {
    }

    // .header__bottom

    &__bottom {
        width: 100%;
        margin: 0 auto; 
        padding: 10px 0;
        position: relative;
        background-color: #fff;
    }

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 425px) {
            flex-direction: column;   
        }
    }

    // .header__logo

    &__logo {

        img {
            height: 25px;
            @media screen and (max-width: 425px) {
                height: 60px; 
                margin-bottom: 20px;
            }
        }
    }

    // .header__nav

    &__nav {
        @media screen and (max-width: 425px) {
            display: none;
        }
    }

    // .header__list

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        @media screen and (max-width: 425px) {
            flex-direction: column;
        }
    }

    // .header__item

    &__item {
        display: inline-block;
    }
    &__item + &__item {
        margin-left: 40px;
        @media screen and (max-width: 425px) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    // .header__link

    &__link {
        color: $font-dark;
        font-size: 16px;
        position: relative;
        &::after {

            content: "";
            position: absolute;
            bottom: -17px;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 4px;
            background-color: $primary;
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        &:hover {

            &::after {
                opacity: 1;
            }
        }

        &--active {
            &::after {
                opacity: 1;
            }
        }


    }

    // .header__contacts

    &__contacts {
        @media screen and (max-width: 425px) {
            display: flex;
        }
    }

    // .header__contacts-link

    &__contacts-link {
        color: $font-dark;
        font-weight: 500;
        margin-right: 20px;
        
    }

    // .header__social

    &__social {
        color: $blue;
        &:hover {
            color: $primary;
        }
    }
    &__social + &__social {
        margin-left: 15px;
    }

      // .header__drop

    &__drop {
        z-index: 99;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        background-color: #fff;
        box-shadow: 4px 4px 16px -1px rgba(34, 60, 80, 0.13);     

        padding: 66px;
        width: 100%;
        max-width: 1000px;
        justify-content: space-around;
        border: 1px solid #e1e1e1;
        display: none;

        &--active {
            display: flex;
        }
        @media screen and (max-width: 425px) {
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            box-shadow: none;
            border: none;
            padding: 20px 0;
        }


    }

    // .header__drop-column

    &__drop-column {

    }

    // .header__drop-title

    &__drop-title {
        font-size: 16px;
        line-height: 18px;
        color: #9c9a9a;
        padding-bottom: 18px;
        border-bottom: 1px solid #e1e1e1;
        @media screen and (max-width: 425px) {
            display: none;
        }

    }

    // .header__drop-list

    &__drop-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 32px;

    }

    // .header__drop-item

    &__drop-item {

    }
    &__drop-item + &__drop-item {
        margin-top: 15px;
    }

    // .header__drop-link

    &__drop-link {
        color: #14191a;
        text-decoration: none;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

