.nav {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: $gray;
    &--fixed {
        position: fixed;
        top: 52px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        z-index: 98;
        
    }
    @media screen and (max-width: 992px) {
        display: none;
    }

    
    // .nav__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .nav__list

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    // .nav__item

    &__item {
        display: inline-block;

    }
    &__item + &__item {
        margin-left: 48px;
    }

    // .nav__link

    &__link {
        color: $font-dark;
        &:hover {
            color: $hover;
        }
    }
}
