
.pay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    // .pay__item

    &__item {
        position: relative;
        padding: 50px;
        border: 1px solid #dedede;
        width: 48%;
        transition: $transition;
        overflow: hidden;
        color: $font-dark;
        &:hover {
            .pay__bg {
                opacity: 100%;
            }
            color: #fff;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    // .pay__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    // .pay__bg

    &__bg {
        transition: $transition;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0;

    }
}
