
.pay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: visible;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    // .pay__item

    &__item {
        position: relative;
        padding: 50px;
        height: 650px;
        width: 50%;
        transition: $transition;
        overflow: visible;
        color: $font-dark;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 20px;
            height: fit-content;
            border: 1px solid #dedede;
        }
        
        &:nth-child(2) {
            margin-top: 300px;
            height: 600px;
            @media screen and (max-width: 768px) {
                height: fit-content;
                margin-top: 20px;
            }
        }
        &:nth-child(3) {
            margin-top: -250px;
            @media screen and (max-width: 768px) {
                height: fit-content;
                margin-top: 20px;
            }
        }
        
    }

    // .pay__title

    &__title {
        font-size: 30px;
        font-family: "Forum", serif;
        font-weight: 600;
        margin-bottom: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    // .pay__bg

    &__bg {
        transition: $transition;
        position: absolute;
        width: 100%;
       
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 100%;
        @media screen and (max-width: 768px) {
            display: none;
        }

    }
    // .pay__text

    &__text {
        width: 100%;
        max-width: 350px;
        margin-top: 0;
        
    }
}
