.sidebar {
    position: absolute;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 576px) {
        display: none;
    }
    // .sidebar__list

    &__list {
        list-style: none;
        padding: 0;
        margin: 80px auto 0;
        position: relative;
    }

    // .sidebar__item

    &__item {
        margin-bottom: 20px;
    }

    // .sidebar__link

    &__link {
        color: rgba(0, 0, 0, 0.4);

        &--active {
            color: #000;
            font-weight: 500;
        }
    }

    // .sidebar__index

    &__index {
        position: absolute;
        width: 3px;
        background-color: #e8e8dd;
        
        top: 3px;
        bottom: 25px;
        left: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    // .sidebar__index-dots

    &__index-dots {
        position: relative;
        width: 20px;
        height: 20px;
        clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
        background-color: #e8e8dd;
        &:last-child{
            margin-bottom: -2px;
        }
        &--active {
            background-color: $primary;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background-color: #fff;
            clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
        }
    }

    // .sidebar__index-progress

    &__index-progress {
        position: absolute;
        width: 3px;
        height: 0%;
        max-height: 99%;
        margin-top: 2px;
        
        background-color: $primary;
    }
}
