.standart {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
    // .standart__inner

    &__inner {
    }

    // .standart__bg

    &__bg {
        width: 100%;
        min-width: 1881px;
        max-width: 1881px;
        display: block;
        margin: 0 auto;
    }
    // .standart__map

    &__map {
        width: 100%;
        margin: 0 auto;

        iframe {
            width: 100%;
        }

    }

    // .standart__wrap

    &__wrap {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }
    .home-one {
        position: absolute;
        background-color: $primary;
        left: 210px;
        top: 66px;
        height: 411px;
        width: 304px;
        transition: all .5s ease;
        transform: rotate(-3deg);
        opacity: 0;
        clip-path: polygon(20% 0,100% 7%,98% 93%,80% 100%,0 90%,0 3%);
        &:hover {
            opacity: 50%;
        }
    }
    
    .home-two {
        position: absolute;
        background-color: $primary;
        opacity: 0;
        transition: all .5s ease;
        left: 251px;
        top: 6px;
        height: 75px;
        width: 191px;
        z-index: 80;
        clip-path: polygon(49% 9%,98% 10%,100% 100%,100% 101%,1% 88%,0% 59%);
        &:hover {
            opacity: 50%;
        }

    
    } 

    .home-three {
        position: absolute;
        background-color: $primary;
        opacity: 0;
        transition: all .5s ease;
        left: 507px;
        top: 113px;
        height: 480px;
        width: 281px;
        z-index: 80;
        -webkit-clip-path: polygon(33% 1%,99% 8%,100% 96%,71% 100%,4% 87%,0 3%);
        clip-path: polygon(36% 1%,100% 10%,100% 95%,67% 100%,4% 83%,0 3%);
        
        
        &:hover {
            opacity: 50%;
        }
    }

    .home-four {
        position: absolute;
        background-color: $primary;
        transition: all .5s ease;
        opacity: 0;
        left: 542px;
        top: 17px;
        height: 160px;
        width: 279px;
        clip-path: polygon(17% 0,100% 11%,100% 42%,93% 47%,93% 92%,22% 63%,1% 69%,0 10%);
        
        &:hover {
            opacity: 50%;
        }
    }
    .home-five {
        position: absolute;
        background-color: $primary;
        transition: all .5s ease;
        opacity: 0;
        left: 800px;
        top: 77px;
        height: 427px;
        width: 308px;
        clip-path: polygon(13% 0,100% 3%,100% 28%,82% 27%,64% 44%,64% 95%,1% 89%,0 4%);        
        &:hover {
            opacity: 50%;
        }

        
    }
    .home-six {
        position: absolute;
        background-color: $primary;
        transition: all .5s ease;
        opacity: 0;
        left: 996px;
        top: 194px;
        height: 534px;
        width: 188px;
        -webkit-clip-path: polygon(24% 0,100% 0,100% 86%,86% 100%,0 100%,0 11%);
        clip-path: polygon(31% 0,100% 1%,100% 18%,87% 100%,0 100%,0 13%);
        &:hover {
            opacity: 50%;
        }
    }

    .home-seven {
        position: absolute;
        background-color: $primary;
        transition: all .5s ease;
        opacity: 0;
        left: 1133px;
        top: 138px;
        height: 195px;
        width: 341px;
        clip-path: polygon(100% 15%,100% 99%,66% 85%,41% 75%,31% 78%,15% 83%,15% 32%,0% 30%,0% 13%,11% 2%);
        &:hover {
            opacity: 50%;
        }
    
    }

    .home-eight {
        position: absolute;
        background-color: $primary;
        transition: all .5s ease;
        opacity: 0;
        left: 1159px;
        top: 283px;
        height: 625px;
        width: 401px;
       
        clip-path: polygon(29% 0,100% 11%,94% 92%,68% 98%,0 79%,2% 3%);
         
        &:hover {
            opacity: 50%;
        }
    }
}


#genplan {
    @media screen and (max-width: 1810px) {
        overflow-x: scroll;
    }
}