{% load static %}
{% load thumbnail %}
{% load recaptcha3 %}
{% load contact_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og:title %}{% endblock %} " />
    <meta property="og:description" content="{% block og:description %}{% endblock %}" />
    <meta property="og:url" content="{% block og:url %}{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}"  />
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}" />
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="" />
    <meta property="vk:image" content="{% block vk:image %}{% endblock %}" />
    <meta property="og:image" content="{% block og:image %}{% endblock %}" />

   
    <link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'fav/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon-180x180.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/> 

    <link rel="stylesheet" href="{% static 'magnific/magnific-popup.css' %}">


    <link href="{% static 'css/style.css' %}?{% now 'H:i:s' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0af96d350a.js" crossorigin="anonymous"></script>
    <meta name="yandex-verification" content="758baa1eccc1ddaa" />
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
    

</head>

<body>

{% include 'components/header.html' %}




<div class="content">

    {% block body %}
    {% endblock %}



</div>
    

<div class="popup-call">
    <div class="popup-call__closer"></div>

    <div class="popup-call__inner">
        <img src="{% static 'images/icons/alert-close.svg' %}" alt="" class="popup-call__close">
        {% comment %} <p class="popup-call__title">Обратный звонок</p> {% endcomment %}


        <script data-b24-form="inline/2/516wbh" data-skip-moving="true">
            (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://cdn-ru.bitrix24.ru/b18949192/crm/form/loader_2.js');
        </script>
        
        {% comment %}         

        <form action="{% url 'callback' %}" class="popup-call__form" method="post">
            {% if layout %}
                    <input type="text" hidden="hidden" name="page" value="{{ layout.name }}">

                {% elif page %}

                    <input type="text" hidden="hidden" name="page" value="{{ page.name }}">

                {% elif room %}
                    <input type="text" hidden="hidden" name="page" value="{{ room.name }}">
                {% else %}
                    <input type="text" hidden="hidden" name="page" value="{{ request.get_full_path }}">
                {% endif %}
        
            {% contact_form %}



        
            </form>
        {% endcomment %}
       


      
           
    
    </div>

</div>

    
{% include 'components/footer.html' %}
 


    <script src="{% static 'js/jquery.js' %}?v.1.0.3"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}?v.1.0.3"></script>

    <script type="text/javascript" src="{% static 'magnific/jquery.magnific-popup.min.js' %}?v.1.0.3"></script>
    <script src="{% static 'js/script.js' %}?{% now 'H:i:s' %}"></script>
  
   
    <script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b18949192/crm/site_button/loader_2_7h1q1c.js');
</script>
</body>
</html>