{% load static %}


<div class="toggle-menu-2" id="menu-2">
    <div class="toggle-section-2">
        <a href="#" class="menu-btn-2">
            <span></span>
        </a>
    </div>
   
</div>



<header class="header">

    <div class="header__top">
        <div class="container">
            <div class="header__wrap">
                <p class="header__text">Умная ипотека от 2,05%. Для всех. Программа Сбербанка</p>
            
            </div>
        </div>
    
    </div>

    <div class="header__bottom">
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'home' %}" class="header__logo">
                    <img src="{% static 'images/logo-dark.svg' %}" alt="logo">
                
                </a>

                <nav class="header__nav">
                    <ul class="header__list">
                       
                        <li class="header__item"><a href="{% url 'layouts' %}" class="header__link">Квартиры</a></li>
                     

                        {% for page in request.page_list %}
                            {% if page.top_menu %}
                                
                                <li class="header__item"><a href="{{ page.get_absolute_url }}" class="header__link">{{page.name}}</a></li>
                            {% endif %}
                        
                            
                        
                        {% endfor %}

                        <li class="header__item">
                        
                        <div class="toggle-menu" id="menu">
                            <div class="toggle-section">
                                <a href="#" class="menu-btn">
                                    <span></span>
                                </a>
                            </div>
                            Меню
                        </div>
                        </li>

                    </ul>
                
                </nav>

                <div class="header__contacts">

                    <a href="#" class="header__contacts-link">+7 (3522) 22-31-35</a>
                    <a href="#" class="header__social"><i class="fab fa-vk"></i></a>
                    <a href="#" class="header__social"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="header__social"><i class="fab fa-whatsapp"></i></a>
                
                
                </div>

               
            </div>
        </div>
    
    

        <div class="header__drop">
            <div class="header__drop-column">
                <p class="header__drop-title">Покупателям</p>

                <ul class="header__drop-list">
                <li class="header__drop-item"><a href="{% url 'layouts' %}" class="header__drop-link">Квартиры</a></li>
                {% for page in request.page_list %}
                    {% if page.drop_menu_left %}
                        <li class="header__drop-item"><a href="{{ page.get_absolute_url }}" class="header__drop-link">{{ page.name }}</a></li>
                    
                    {% endif %}
                {% endfor %}
                    
                </ul>
            </div>

            <div class="header__drop-column">
                <p class="header__drop-title">Компания</p>

                <ul class="header__drop-list">
                
                {% for page in request.page_list %}
                    {% if page.drop_menu_right %}
                        <li class="header__drop-item"><a href="{{ page.get_absolute_url }}" class="header__drop-link">{{ page.name }}</a></li>
                    
                    {% endif %}
                {% endfor %}
                    
                    <li class="header__drop-item"><a href="{% url 'dok' %}" class="header__drop-link">Официальные документы</a></li>
                    {% comment %} <li class="header__drop-item"><a href="" class="header__drop-link">Контакты</a></li> {% endcomment %}
                </ul>
            </div>
        
        
        </div>

    </div>
    
</header>