<div class="callback">
    <div class="container">
        <div class="callback__inner">
            <p class="callback__title">Запишитесь на экскурсию</p>
            <p class="callback__sub">Мы проведём для вас экскурсию по готовому дому и демо-квартире</p>
            <div class="callback__wrap">
                <a href="#" class="btn callback-show">Записаться на экскурсию</a>
                <a href="{% url 'layouts' %}" class="btn btn__nobg">Выбрать квартиру</a>

            </div>
        </div>
    </div>
</div>